# Pre-commit configuration file
# Install pre-commit: pip install pre-commit
# Then run: pre-commit install
#
# This provides a more robust solution than the basic git hook
# and can be shared with the team via version control

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--ignore=E501,W503']
        exclude: '^(\.git|__pycache__|.*\.pyc|venv|env|\.venv)'

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        args: ['--line-length=120']
        exclude: '^(\.git|__pycache__|.*\.pyc|venv|env|\.venv)'

